:root {
  --main-color: #ff9f24;
  --secondary-color: #8f8f8f;
  --headings-color: #323232;
  --placeholder-color: #c4c4c4;
  --border-button-color: #969696;
  --main-bg: #fafafa;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: var(--main-bg);
}
main {
  padding: 1rem;
  margin-bottom: 80px;
}
.avatar_radius {
  border-radius: 2rem;
}
* button {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
input[type="text"] {
  border: none;
  background-color: transparent;
}
input:focus-visible {
  outline: none;
}
input:-internal-autofill-selected {
  background-color: none;
}
h2 {
  font-size: 22px;
  color: #000;
}
h4 {
  color: var(--headings-color);
}

p {
  color: #8f8f8f;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
